<div class="row">
    <div class="mx-4 my-2 col">
        <h5>Number Of Adult</h5>
        <select (change)="onChange($event.target, 'NumberOfAdultTag')">
            <option value=1 selected>1</option>
            <option value=2>2</option>
        </select>
        <h5>My Occupation Group</h5>
        <select (change)="onChange($event.target, 'OwnerOccupationTag')">
            <option value='White Collar' selected>White Collar</option>
            <option value='Sales'>Sales</option>
            <option value='Skilled & Semi-skilled Manual Worker'>Skilled & Semi-skilled Manual Worker</option>
            <option value='Heavy Manual'>Heavy Manual</option>
        </select>
        <h5>My Spouse's Occupation Group</h5>
        <select (change)="onChange($event.target, 'SpouseOccupationTag')">
            <option value='White Collar' selected>White Collar</option>
            <option value='Sales'>Sales</option>
            <option value='Skilled & Semi-skilled Manual Worker'>Skilled & Semi-skilled Manual Worker</option>
            <option value='Heavy Manual'>Heavy Manual</option>
        </select>
    </div>
    <div class="mx-2 my-2 col">
        <h5>Sum Insured For Each Adult</h5>
        <select (change)="onChange($event.target, 'SumInsuredTag')">
            <option value='S$100,000' selected>S$100,000</option>
            <option value='S$200,000'>S$200,000</option>
            <option value='S$300,000'>S$300,000</option>
            <option value='S$500,000'>S$500,000</option>
            <option value='S$1,000,000'>S$1,000,000</option>
        </select>
        <h5>Number Of Children</h5>
        <select (change)="onChange($event.target, 'NumberOfChildrenTag')">
            <option value=0 selected>0</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
            <option value=4>4</option>
            <option value=5>5</option>
            <option value=6>6</option>
            <option value=7>7</option>
            <option value=8>8</option>
            <option value=9>9</option>
            <option value=10>10</option>
        </select>
    </div>
</div>