<section id="shopify-section-template--15416078008532__featured_products" class="shopify-section spaced-section">
    <div class="collection page-width">
      <div class="title-wrapper-with-link">
        <h2 class="title">Featured products</h2>
      </div>
      <div class="d-flex justify-content-around">
        <div style="width: 40%">
          <img src="../assets/image1.jpg" width="100%" height="80%">
          <div class="d-flex">
            <div>
              <p>CTPL</p>
              <p>$240.00 SGD</p>
            </div>
            <a [routerLink]="['/question', {id: 'CTPL'}]" role="link" aria-disabled="true" class="btn btn-secondary btn-lg text-white mx-4 my-1">
              Buy
            </a>
          </div>
        </div>
        <div style="width: 40%">
          <img src="../assets/image2.jpg" width="100%" height="80%">
          <div class="d-flex">
            <div>
              <p>Personal Accident</p>
              <p>$10.00 SGD</p>
            </div>
            <a [routerLink]="['/question', {id: 'PA'}]" role="link" aria-disabled="true" class="btn btn-secondary btn-lg text-white mx-4 my-1">
              Buy
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>