<div [formGroup]="formControl">
  <div class="form-group c-form-group">
    <label class="c-form-label" for="startDate">
      {{'Start Date'}}
      <span class="field-required">*</span>
    </label>
    <div class="input-group input-calendar">
      <input [owlDateTime]="dtStartDate" [owlDateTimeTrigger]="dtStartDate" placeholder="Date Time" class="form-control"
             id="startDate" [(ngModel)]="startDateModel" [ngModelOptions]="{standalone: true}"
             (dateTimeChange)="onStartDateChanged($event.value)" [disabled]="hasEffective || coverageContinuation"
             #startDate>
      <div class="input-group-append">
        <span class="input-group-text p-0">
          <button class="btn btn-input-icon" (click)="startDate.click()">
            <i class="fa fa-calendar"></i>
          </button>
        </span>
      </div>
    </div>
    <owl-date-time #dtStartDate [pickerType]="'calendar'">
    </owl-date-time>
    <div *ngIf="startDateControl.invalid && (startDateControl.dirty || startDateControl.touched)"
         class="invalid-feedback d-block">
      <div *ngIf="startDateControl.errors.required">
        {{'Start Date is required'}}
      </div>
    </div>
  </div>

  <div class="form-group c-form-group">
    <label class="c-form-label" for="endDate">
      {{'End Date'}}
      <span class="field-required">*</span>
    </label>
    <div class="input-group input-calendar">
      <input [owlDateTime]="dtEndDate" [owlDateTimeTrigger]="dtEndDate" placeholder="Date Time"
             [(ngModel)]="endDateModel" [ngModelOptions]="{standalone: true}"
             (dateTimeChange)="onEndDateChanged($event.value)" class="form-control"
             id="endDate" #endDate>
      <div class="input-group-append">
        <span class="input-group-text p-0">
          <button class="btn btn-input-icon" (click)="endDate.click()">
            <i class="fa fa-calendar"></i>
          </button>
        </span>
      </div>
    </div>
    <owl-date-time #dtEndDate [pickerType]="'calendar'"></owl-date-time>
    <div *ngIf="endDateControl.invalid && (endDateControl.dirty || endDateControl.touched)"
         class="invalid-feedback d-block">
      <div *ngIf="endDateControl.errors.required">
        {{'End Date is required'}}
      </div>
    </div>
  </div>

  <div *ngIf="formControl?.invalid && formControl?.errors && formControl?.errors?.endDateTooEarly"
       class="invalid-feedback d-block">
    {{'End Date must after Start Date'}}
  </div>
</div>
