<div class="form-group" *ngIf="isShow">
  <label for="{{stepItem.tag}}">
    {{stepItem.title}}
    <span *ngIf="isRequired">*</span>
  </label>
  <div class="input-group">
    <input *ngIf="numberOnly" type="text" placeholder="{{'MODULE SALES ENTER VALUE'}} {{stepItem.title}}"
           class="form-control" id="{{stepItem.tag}}" name="{{stepItem.tag}}" [formControl]="formControl"
           (keypress)="checkNumber($event)" (input)="replaceNaN($event)">

    <input *ngIf="!numberOnly" type="text"
           placeholder="{{'MODULE SALES ENTER VALUE'}} {{stepItem.title}}" class="form-control"
           id="{{stepItem.tag}}" name="{{stepItem.tag}}" [formControl]="formControl" pattern="{{stepItem.pattern}}">
  </div>
  <div *ngIf="formControl?.invalid && (formControl?.dirty || formControl?.touched)" class="invalid-feedback d-block">
    <div *ngIf="formControl?.errors.required">
      {{stepItem.title}} {{'MODULE SALES IS REQUIRED'}}
    </div>
    <div *ngIf="formControl?.errors.minlength || formControl?.errors.maxlength">
      {{stepItem.title}} {{'MODULE SALES LENGTH IS OUT OF RANGE'}}
    </div>
    <div *ngIf="formControl.errors.validationMessage">
      {{formControl.errors.validationMessage}}
    </div>
  </div>
  <div *ngIf="validationMessage" class="invalid-feedback d-block">
    <span style="white-space: pre-line">{{validationMessage}}</span>
  </div>
</div>