<div class="form-group c-form-group" *ngIf="isShow">
  <label class="c-form-label" for="{{stepItem.tag}}">
    {{stepItem.title}}
    <span class="field-required" *ngIf="isRequired">*</span>
  </label>
  <div class="input-group">
    <input *ngIf="numberOnly" type="text" placeholder="{{'Enter value'}} {{stepItem.title}}"
           class="form-control" id="{{stepItem.tag}}" name="{{stepItem.tag}}" [formControl]="formControl"
           (keypress)="checkNumber($event)" (input)="replaceNaN($event)">

    <input *ngIf="!numberOnly" type="text"
           placeholder="{{'Enter value'}} {{stepItem.title}}" class="form-control"
           id="{{stepItem.tag}}" name="{{stepItem.tag}}" [formControl]="formControl" pattern="{{stepItem.pattern}}">
  </div>
  <div *ngIf="formControl?.invalid && (formControl?.dirty || formControl?.touched)" class="invalid-feedback d-block">
    <div *ngIf="formControl?.errors.required">
      {{stepItem.title}} {{'is required'}}
    </div>
    <div *ngIf="formControl?.errors.minlength || formControl?.errors.maxlength">
      {{stepItem.title}} {{'is out of range'}}
    </div>
    <div *ngIf="formControl.errors.validationMessage">
      {{formControl.errors.validationMessage}}
    </div>
  </div>
  <div *ngIf="validationMessage" class="invalid-feedback d-block">
    <span style="white-space: pre-line">{{validationMessage}}</span>
  </div>
</div>
