<head>
  <meta charset="utf-8">
  <title>
    Great Insurance Products
  </title>
</head>


<div id="shopify-section-announcement-bar" class="shopify-section">
  <div>
    <p class="p-2 h5 text-center border-bottom">
      Welcome to our store
    </p>
  </div>
  <div>
    <p class="p-2 h3 text-center">
      Great Insurance Product
    </p>
  </div>
  <div class="d-flex mx-3 justify-content-center">
    <p class="p-2 text-center underline">
      Home
    </p>
    <p class="p-2 text-center ">
      Catalog
    </p>
    <p class="p-2 text-center">
      Contact
    </p>
  </div>
</div>

<router-outlet></router-outlet>
