<div class="text-center container">
    <div *ngIf="!error">
        <h3>Payment Detail</h3>
        <h4>{{quote?.data.attributes.productName}}</h4>
        <div class="row">
            <div class="col">
                <h5>Premium Amount</h5>
            </div>
            <div class="col">
                <h6>{{quote?.data.attributes.annualPremium.total.formattedAmount}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Policy Start Date</h5>
            </div>
            <div class="col">
                <h6>{{quote?.data.attributes.period.start}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Policy End Date</h5>
            </div>
            <div class="col">
                <h6>{{quote?.data.attributes.period.start}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Initual Payment</h5>
            </div>
            <div class="col">
                <h6>{{quote?.data.attributes.annualPremium.total.formattedAmount}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Subsequent Payments</h5>
            </div>
            <div class="col">
                <h6>{{quote?.data.attributes.annualPremium.total.formattedAmount}}</h6>
            </div>
        </div>
    </div>
    <div class="row" *ngFor="let item of quote?.data.attributes.purchaseConstraints">
        <div class="text-left mx-5">
            <h5>{{item.name}}</h5>
            <h6 class="text-danger">{{item.displayText}}</h6>
        </div>
    </div>
    <div class="row">
            <div class="col">
                <h5>Select Payment Sethods</h5>
            </div>
            <div class="col">
                <select class="w-100 form-control">
                    <option value="1">Bank Account</option>
                    <option value="2">Visa</option>
                    <option value="3">Mastercard</option>
                </select>
            </div>
    </div>

    <button *ngIf="!error" class="btn btn-primary w-25 align-self-center my-5" (click)="Purchase()">Purchase</button>
</div>